In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [4]:
TSLA=yf.Ticker("AAPL")

In [5]:
tesla_data=TSLA.history(period="max")

In [6]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.099192,0.099623,0.099192,0.099192,469033600,0.0,0.0
1,1980-12-15,0.094448,0.094448,0.094017,0.094017,175884800,0.0,0.0
2,1980-12-16,0.087548,0.087548,0.087117,0.087117,105728000,0.0,0.0
3,1980-12-17,0.089273,0.089704,0.089273,0.089273,86441600,0.0,0.0
4,1980-12-18,0.091861,0.092292,0.091861,0.091861,73449600,0.0,0.0

In [7]:
tesla_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
10934,2024-04-29,173.369995,176.029999,173.100006,173.500000,68169400,0.0,0.0
10935,2024-04-30,173.330002,174.990005,170.000000,170.330002,65934800,0.0,0.0
10936,2024-05-01,169.580002,172.710007,169.110001,169.300003,50383100,0.0,0.0
10937,2024-05-02,172.509995,173.419998,170.889999,173.029999,94214900,0.0,0.0
10938,2024-05-03,186.669998,187.000000,182.660004,184.470001,128711172,0.0,0.0

In [8]:
GME=yf.Ticker("AAPL")

In [9]:
gme_data=GME.history(period="max")

In [10]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.099192,0.099623,0.099192,0.099192,469033600,0.0,0.0
1,1980-12-15,0.094448,0.094448,0.094017,0.094017,175884800,0.0,0.0
2,1980-12-16,0.087548,0.087548,0.087117,0.087117,105728000,0.0,0.0
3,1980-12-17,0.089273,0.089704,0.089273,0.089273,86441600,0.0,0.0
4,1980-12-18,0.091861,0.092292,0.091861,0.091861,73449600,0.0,0.0

In [11]:
gme_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
10934,2024-04-29,173.369995,176.029999,173.100006,173.500000,68169400,0.0,0.0
10935,2024-04-30,173.330002,174.990005,170.000000,170.330002,65934800,0.0,0.0
10936,2024-05-01,169.580002,172.710007,169.110001,169.300003,50383100,0.0,0.0
10937,2024-05-02,172.509995,173.419998,170.889999,173.029999,94214900,0.0,0.0
10938,2024-05-03,186.669998,187.000000,182.660004,184.294998,129272475,0.0,0.0

In [12]:
def make_graph(tesla_data, tesla_revenue, Tesla):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [13]:
def make_graph(gme_data, gme_revenue, GameStop):
    fig= make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()